.Header {
    min-height: 50px;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.Header a{
    text-decoration: none;
    color: slateblue;
    font-size: 25px;
}

.Header a[class='active']{
    color:brown;
}


    